*{
    padding: 0%;
    margin: 0%;
}
#btn{
    color: black;
    border-color: black;
}
#btn:hover{
    background-color: #d6d0db;
}
.cars p{
    text-align: justify;
}
.card-text{
    text-align: center;
}
.btt{
    text-align: center;
}
